/* Shohurkh Kodirov EEDATA3 */
* {
background-color: lightblue;

}
h1 {
  text-align: center;
  font-family: 'Arial', sans-serif;


}


p {
  float:left;

}

.topnav {
  background-color:
  overflow: hidden;
text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: black;
  display: block;
  margin: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #04AA6D;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

button {
  margin-top: 20px;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
